<div class="cell">
  <!-- <a class="user-avatar pull-left" href="/user/<%= topic.author.loginname %>"> -->
  <a
    class="user-avatar pull-left"
    href="/user/<%= topic.author.loginname %>"
    target="_blank"
  >
    <img
      src="<%= topic.author.avatar_url %>"
      title="<%= topic.author.loginname %>"
    />
  </a>

  <div class="topic-wrap">
    <%- partial('./_top_good', {topic: topic}) %>
    <a
      class="topic-title"
      href="/topic/<%= topic._id %>"
      title="<%= topic.title %>"
    >
      <%= topic.title %>
    </a>
    <span class="reply-count pull-right" title="Reply count">
      <%= topic.reply_count %>
    </span>
  </div>

  <div class="time-wrap clearfix">
    <span class="create-time pull-left">
      <a href="/user/<%= topic.author.loginname %>" target="_blank"
        ><%= topic.author.loginname %></a
      >
      Posted in <%= topic.friendly_create_at %>
    </span>
    <% if (topic.reply) {%>
    <span class="last-active-time pull-right">
      <a href="/user/<%= topic.reply.author.loginname %>" target="_blank"
        ><%= topic.reply.author.loginname %></a
      >
      Last reply to <%= topic.reply.friendly_create_at %>
    </span>
    <% } %>
  </div>
</div>
