<%- partial('../sidebar') %>

<div id='content'>
	<% if(typeof(edit_error) !== 'undefined' && edit_error){ %>
		<div class="alert alert-danger alert-dismissible" role="alert">
		  	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		  	<strong><%= edit_error %></strong>
		</div>
	<% } %>

	<div class="topic-edit">
		<% if(typeof(error) !== 'undefined' && error){ %>
		<div class="alert alert-error">
			<strong><%= error %></strong>
		</div>
		<% }else{ %>

		<% if (typeof(action) !== 'undefined' && action === 'edit') { %>
		<form id='create_topic_form' action='/topic/<%= topic_id %>/edit' method='post'>
		<% } else { %>
		<form id='create_topic_form' action='/topic/create' method='post'>
		<% } %>

			<div class="header">
				<% if(typeof(action) !== 'undefined' && action == 'edit'){ %>
					<div class="operation">编辑话题</div>
				<% }else{ %>
					<div class="operation">发起新话题</div>
				<% } %>

				<select name="tab" id="tab-value" class="form-control">
					<option value="">先选个板块好说话</option>
					<%
					var tabValue = '';
					if (typeof(tab) !== 'undefined') {
						tabValue = tab;
					}
					tabs.forEach(function (pair) {
						var value = pair[0];
						var text = pair[1];
						%>
						<option value="<%=value%>" <%= tabValue === value ? 'selected': '' %>><%=text%></option>
					<%});%>
				</select>
			</div>
			<div class='inner post'>
				<span id="topic_create_warn"></span>
				<input type="text"
					id="title"
					name="title"
					class="form-control"
					placeholder="给咱的发言找个由头吧（至少6个字哦）"
					value="<%= typeof(title) !== 'undefined' && title || '' %>"
					autofocus>


				<div class='markdown_editor in_editor'>
					<div class='markdown_in_editor'>
						<textarea class='editor'
							name='t_content'
							rows='15'
							placeholder='嗯，这个...说点啥呢...'><%= typeof(content) !== 'undefined' && content || '' %></textarea>
					</div>
				</div>

				<div class='editor_buttons'>
					<input type="submit"
						class='btn btn-green btn-lg submit_btn'
						data-loading-text="提交中"
						value="就是它了">
					<a class="btn btn-empty btn-lg" href="/">还是算了</a>
				</div>

				<input type='hidden' id='topic_tags' name='topic_tags' value=''>
				<input type='hidden' name='_csrf' value='<%= csrf %>'>
			</form>
		<% } %>
		</div>
	</div>
</div>

<!-- simditor editor -->
<%- Loader('/public/simditor.min.js')
		.js('/public/libs/simditor/scripts/module.js')
		.js('/public/libs/simditor/scripts/hotkeys.js')
		.js('/public/libs/simditor/scripts/uploader.js')
		.js('/public/libs/simditor/scripts/simditor.js')
		.js('/public/libs/simditor/scripts/dropzone.js')
	.done(assets, config.site_static_host, config.mini_assets)
%>
<script>
	(function () {
		// var editor = new Editor();
		// editor.render($('.editor')[0]);



		var editor = new Simditor({
			textarea: $('.editor') ,
			toolbar:[ 'title' , 'bold','italic' , 'underline','strikethrough' ,'color' , 'ol' ,'ul' ,'blockquote', 'code', 'table' , 'link', 'image' , 'hr' , 'indent' , 'outdent'],
			upload: {
                    url: '/upload',
                    connectionCount:1
            }
		});

		var search = window.location.search;
		if(search === '?_tag=question'){
			var questionTitle = '',
				questionContent = '';
			$('#title').val(questionTitle);
			editor.setValue(questionContent);
		}
		// 版块选择的检查，必须选择
		$('#create_topic_form').on('submit', function (e) {
			var tabValue = $('#tab-value').val();
			if (!tabValue) {
				alert('必须选择一个版块！');
				$('.submit_btn').button('reset');
				$('.tab-selector').css('color', 'red');
				return false;
			}
		});
		// END 版块选择的检查，必须选择

		$('#title').on('keyup focus', function() {
			// var $this = $(this);
			var value = $(this).val().trim();
			if (value.length > 5 && value.length < 100 ) {
				$('.submit_btn').removeClass('disabled');
			} else {
				$('.submit_btn').addClass('disabled');
			}
		});


		// 选择招聘版块时，给出提示
		$('#tab-value').on('change', function () {
			var $this = $(this);
			var value = $this.val();
			var warnMsg = '';
			if (value === 'job') {
				warnMsg = '<strong>为避免被管理员删帖，发帖时请好好阅读<a href="https://club.echuandan.com/topic/541ed2d05e28155f24676a12" target="_blank">《招聘帖规范》</a></strong>';
			} else if (value === 'ask') {
				warnMsg = '<strong>提问时，请遵循 <a href="http://www.beiww.com/doc/oss/smart-questions.html" target="_blank">《提问的智慧》</a>中提及的要点，以便您更接收到高质量回复。</strong>'
			}
			$('#topic_create_warn').html(warnMsg);
		});
		// END 选择招聘版块时，给出提示
	})();
</script>
