<div id="sidebar">
  <div class="panel">
    <div class="header">
      <span class="col_fade">Markdown syntax reference</span>
    </div>
    <div class="inner">
      <ol>
        <li><tt>### single line title</tt></li>
        <li><tt>**bold**</tt></li>
        <li><tt>`console.log('inline code')`</tt></li>
        <li><tt>```js\n code \n```</tt> markup code block</li>
        <li><tt>[content](link)</tt></li>
        <li><tt>![text description](image link)</tt></li>
      </ol>
      <span
        ><a href="http://www.ituring.com.cn/article/775" target="_blank"
          >Markdown document</a
        ></span
      >
    </div>
  </div>

  <div class="panel">
    <div class="header">
      <span class="col_fade">Topic posting guidelines</span>
    </div>
    <div class="inner">
      <ol>
        <li>Try to condense the main points of the topic into the title</li>
        <li>
          Code meaning and error can be asked at
          <a href="http://segmentfault.com/t/node.js">SegmentFault</a>
        </li>
        <li>Selecting appropriate tags for topics can increase browsing</li>
      </ol>
    </div>
  </div>
</div>
